*{
    margin: 0%;
    padding: 0%;
}

.wrapper{
    margin: 0px auto;
    width: 100%;  
}

.main{
    width: 100%;
    float: left;
    
    background-image: url(img/nature.jpg);
    background-size:cover;
    overflow: hidden;

}

.nav{
    width: 100%;
    float: left;
    background-color:rgba(112,86,86,.3);

}

.nav ul{
    list-style-type: none;
    overflow: hidden;
    display: block;
    float: left;
    
}

.nav ul li{
    float: left;
    border-right: 1px solid gray;
}
.nav ul li a{
    display: block;
    padding: 20px 30px;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition: .54;
    -webkit-transition: .54;
    -moz-transition: .54;
    -ms-transition: .54;
    -o-transition: .54;
}

.nav ul li:last-child{
    border-right: none;
}

.nav ul li a:hover{
    background-color: rgb(128, 235, 199, .6);
    color: black;
}

.search{
    float: right;
    background-color:rgba(112,86,86,.3);
    
}
.search input{
     padding: 7px 20px;
     margin-top: 10px;
     opacity: .5;
     border: 1px solid gray;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.search button{
    padding: 6px;
    margin:0px 15px 0px 5px;
    opacity: .6;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

article{
    width: 13.5%;
    margin-left: 10%;
    background-color: rgba(103, 201, 78, 0.5);
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    padding: 50px 50px 20px 50px;
    margin-top: 200px;
    transition: .5s;
    border-radius: 40px 40px 20px 20px ;
    -webkit-border-radius: 40px 40px 20px 20px ;
    -moz-border-radius: 40px 40px 20px 20px ;
    -ms-border-radius: 40px 40px 20px 20px ;
    -o-border-radius: 40px 40px 20px 20px ;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
article p{
    margin-top: 20px;
    font-size: larger;
}
article h2{
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
}

article:hover{
    background-color: #fff;
    color: rgb(5, 5, 5);
    margin-top: 150px;
    padding: 50px;
}



.fa-tree, .fa-child, .fa-leaf{
    font-size: 80px;
    margin-left: 60px;
}
.fa-child, .fa-tree{
    margin-left: 70px;
}

.fa-house-user, .fa-newspaper, .fa-address-book{
    margin-right: 10px;
}


.footer{
    width: 100%;
    font-size: larger;
   
    display: block;
    float: left;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 0px;
    background-color: rgba(103, 201, 78, 0.5);
    color: aliceblue;
}
embed{
    display: inline;
    float: left;
    margin-right: 25px;
}
.paragraph1{
    margin-right: 25px;
    margin-bottom: 20px;
	display:block;
}

.flink{
    float:left;
}

.flink a{
    text-decoration: none;
    color: rgba(255, 255, 0, .8);
}

.last{
    display: block;
    margin: 20px 40px 5px 0px;
   
    padding: 5px;
    float: right;
    
    
}
